@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background: rgb(119, 102, 76);
}
.counter{
    background:black;
    color:white;
    font-size:4rem;
    
    .digit{
        width:4em;
        display:flex;
    padding:1rem 2rem;
    border: 3px solid gray;
    box-shadow: 2px 2px 15px black;
    align-items: center;
    justify-content: center;
    
}
}

.faClock{
    
  position: relative;
  padding:1rem 2rem;
    border: 3px solid gray;
    border-radius:50%;
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {transform: rotate(0deg)}
  25%  {transform: rotate(90deg)}
  50%  {transform: rotate(180deg)}
  75%  {transform: rotate(270deg)}
  100% {transform: rotate(360deg)}
}